.create-modpack {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background: #0c0c0c;
    padding: 1.2rem;
    border-radius: 10px;
}

.create-modpack-header {
    font-family: var(--font-family);
    margin: 0;
    font-size: 32px!important;
    font-weight: bold;
}

.create-modpack-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.create-modpack-info-container {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 3%;
}

.create-modpack-info-inputs-headers, .create-modpack-description-header {
    margin-bottom: 1.5%;
    font-size: 20px;
}

.create-modpack-description {
    margin-bottom: 2.5%;
}

.create-modpack-buttons {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 4%;
}
