.dropdown {
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #3F3F3F;
    border-radius: 2px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 0;
    margin: 0;
    resize: none;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown.open {
    outline: 1px solid #fff;
}

.dropdown-selected-option {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-right: 5%;
}

.dropdown-options {
    position: relative;
    margin-left: -5%;
    margin-top: 6.5%;
    max-height: 0;
    background: #252525;
    border-radius: 2px;
    z-index: 100;
    overflow-y: auto;
    transition: max-height 0.2s ease-out;

}

.dropdown-options.open {
    max-height: 180px;
    transition: max-height 0.2s ease-in;
}

.dropdown-options-option {
    margin: 0;
    padding: 5%;
}

.dropdown-options-option:hover {
    background: #474747;
}

.dropdown-arrow {
    font-size: 10px;
    transition: transform 0.2s ease;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}